@page
@model VirtualEvent_WEB.Pages.Account.SignINModel
@{
}

<h2 class="text-center mt-5">Sign In</h2>

<form method="post" class="w-50 mx-auto mt-4">
    <div class="mb-3">
        <label asp-for="LoginUser.Email" class="form-label"></label>
        <input asp-for="LoginUser.Email" class="form-control" />
        <span asp-validation-for="LoginUser.Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="LoginUser.Password" class="form-label"></label>
        <input asp-for="LoginUser.Password" class="form-control" type="password" />
        <span asp-validation-for="LoginUser.Password" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Sign In</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
