@page
@model VirtualEvent_WEB.Pages.Account.PlanTripModel
@{
}
<h2 class="mt-4">Plan Your Trip</h2>

<p>This is where users will eventually plan or book their virtual events, meetings, or travel-related events.</p>